* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  height: 100%;
  width: 100%;
} */
#sidebar {
  height: 90vh;
  width: 15%;
  background-color: black;
}

#up_bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 10vh;
  background-color: #02030a;
}

#main {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 85vw;
  height: 80vh;
  background-color: #0d121c;
}

#player {
  height: 10vh;
  width: 100%;
  background-color: #232323;
}
