* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: grey;
}

a {
  text-decoration: none;
}


.flex {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.scale_img {
  width: 40%;
}

.scale_ {
  width: 150px;;
}


/* CONTAINER----- */

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#sidebar {
  height: calc(100% - 80px);
  width: 250px;
  min-height: 300px;
  background-color: black;
}

#up_bar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 80px;
  background-color: rgba(0,0,0,0.5);
}

#main-window {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: calc(100vh - 80px);
  background-color: #0d121c;
  overflow-y: scroll;
}

#player {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 100%;
  background-color: #232323;
}
/* ----------------------------------------- */

/* SIDEBAR------ */
#sidebar .logo {
  height: 80px;
}

.border_left_green {
  border-left: 2px solid #c0fe35;
  padding-left: 10px;
}


#sidebar nav ul li,
#sidebar .logo,
#sidebar #playlist {
  padding-left: 18px;
  padding-bottom: 5px;
}

#sidebar .top-sidebar #playlist ul {
  margin-top: 20px;
}

#playlist ul li {
  list-style: none;
  padding: 5px 0px;
}

#sidebar .top-bottom-sidebar .top-sidebar #playlist {
  overflow-y: auto;
}

.line {
  border-top: 1px solid white;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#sidebar .bottom_sidebar {
  padding: 5px 18px;
}

#sidebar .top-bottom-sidebar {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}





/* #sidebar nav ul li {
  padding: 5px 0;
} */

/* UP BAR-------- */
.button {
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}

#up_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* -------SEZIONE ALBUM MAIN */
#main-window .album .nav_bar {
  margin-top: 80px;
}

#main-window .album .nav_bar ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
  font-size: 10px;
}
#main-window .album .nav_bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.album .creato_per  {

  margin-top: 20px;
  margin-bottom: 20px;
}


/* -----sezione disco */
.disco img {
  width: 150px;
}

.recently_played h3,
.creato_per h3,
.artisti_pop h3,
.creato_per h6       {
  margin-left: 10px;
  color: white;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px
}

.dischi {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}
.disco {
  margin: 10px;
}

 .titolo_disco {
  font-weight: bold;
  color: white;
  font-size: 12px;
  text-align: center;
}
 .artista {
  font-size: 11px;
  text-align: center;
  padding-top: 5px;
}

.subtitle {
  font-size: 11px;
  color: grey;
}
/* copertine nel cerchio */
.circle {
  border-radius: 50%;
}


/* -----------PLAYER-------- */
#player {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#player .player_sx div img {
  width: 50px;
}

#player .player_sx .cover_sx {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* debug */
.player_sx {
  border: 1px solid white;
  /* width: 200px;
  height: 50px; */
}
.player_center {
  border: 1px solid white;
  width: 200px;
  height: 50px;
}
.player_dx {
  border: 1px solid white;
  width: 200px;
  height: 50px;
}
